body {
    text-align: center;
    font-family: Montserrat;
}

.navbar {
    text-align: center;
}

.navbar-item {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 70px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin-left: 58px;
}

.image-content {
    align-items: center;
}


.content {
    padding: 47px 68px 68px;

    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}


.content p {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.content h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}


.get-started-button {

    width: 195px;
    height: 54px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;

    align-items: center;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    background: #FF0000;
    text-transform: uppercase;
}



.footer {
    padding-top: 20px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}